label,select,.state,.reset{
	font-size:26px
},
#myChart{
	height:80px;
}
label,select,.state,.reset{
	color:purple;
}
.t1,.total{
	text-align:center;
	color:purple;
}
.t2{
	color:red;
}
body{
	background-color:#f7f1e2;
	background-image:url('https://img.freepik.com/free-photo/surgical-face-mask-blue-background-protection-against-covid-19-coronavirus-healthcare-medical-concept_293060-18.jpg?size=626&ext=jpg');
	background-attachment: fixed;
  	background-size: cover;
}
